*{
    margin: 0px;
    padding: 0px;
}

.border2{
 
margin-top: 60px;
}

.border3{
    padding: 30px;
 }

p{
    font-size: 20px;
    border: 1px solid black;
    box-sizing: border-box;
 /*   padding: 30px;  the distance between the element and the border of the element itself.  */
 /*   margin: 20px;   the distance between the element`s border and the outside border  */
}