* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
header {
  background-color: black;
  padding: 10px;
  padding-top: 15px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 20px;
}
.nav-tabs {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  border: none !important;
  align-items: center;
}
.header-left-part {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
}
.header-right-part {
  display: flex;
  gap: 10px;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}
.dropdown-toggle {
  color: white;
  text-decoration: none;
}

.dropdown-toggle:hover {
  border: none !important;
  color: white;
  text-decoration: none;
}
.search {
  border: 1px solid rgb(128, 125, 125) !important;
  border-radius: 0px !important;
  color: white;
  font-size: 15px;
}
.logo {
  height: 55px;
  width: 55px;
}
.header-right-part a {
  text-decoration: none;
  color: white;
}
.live {
  color: white;
  background-color: black;
  font-size: 15px;
  font-weight: none;
  border: 1px solid brown;
}
.live:hover {
  background-color: brown;
}

.background-main {
  position: relative;
}

.img-details {
  width: 60%;
  max-width: 50%;
  position: absolute;
  top: 10%;
  left: 3%;
  color: white;
}
.img {
  width: 100%;
}
.img-details h1 {
  font-size: 60px;
}
.btn {
  font-size: 30px;
  width: 100%;
}
@media (max-width: 767px) {
  header {
    font-size: 10px;
  }
  .img-details h1,
  .img-details p {
    font-size: 2.2rem;
  }
  .img-details p {
    font-size: 0.5rem;
  }
  .img-details {
    top: 5%;
  }
  .img-details .btn {
    font-size: 0.8rem;
    padding: 5px 10px;
    width: 100%;
  }
}

@media (max-width: 400px) {
  .img-details h1,
  .img-details p {
    font-size: 2rem;
  }
  .img-details p {
    font-size: 0.5rem;
  }
  .img-details {
    top: 0%;
  }
  .img-details {
    width: 100%;
  }
  .img-details .btn {
    font-size: 0.5rem;
    padding: 2px 5px;
    width: 100%;
  }
  .card-title {
    font-size: 0.9rem;
  }

  .card-text {
    font-size: 0.8rem;
  }
}
.address {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  padding: 30px;
}
.address h5 {
  cursor: pointer;
}
.address i {
  background-color: brown;
  border-radius: 50px;
  color: whitesmoke;
}

.text {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.card-img-overlay {
  flex-direction: column;
  display: flex;
  justify-content: space-between;
}
.card-title {
  font-size: 1rem;
}

.card-text {
  font-weight: bold;
}

.card-text span {
    font-size: 10px;
}
.card-img {
  object-fit: cover;
  height: 500px;
}
.img {
  object-fit: cover;
  height: 250px;
}
.margin {
  margin-top: 10px;
}
