* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
}
.test {
  height: 500px;
  width: 100%;
  border: 1px solid purple;
}
.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  padding-top: 0px;
  flex-wrap: nowrap;
}
.borders {
  padding: 10px;
  display: flex;
  flex-direction: row;
  max-width: 100%;
  overflow: auto;
}
.nav {
  display: flex;
  flex-direction: column;
  overflow: scroll;
  position: fixed;
  max-width: 200px;
  gap: 30px;
  flex-wrap: nowrap;
}
.content {
  margin-left: 230px;
}
.icons {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.main-icon {
  font-size: 30px;
  padding-left: 10px;
}
.icon {
  text-decoration: none;
  padding: 15px;
  font-size: 20px;
  color: black;
}
.post {
  padding: 5px;
  align-items: center;
  border-radius: none;
  font-size: 25px;
  background-color: black;
  color: white;
  border-radius: 50px;
  width: 80%;
  text-align: center;
}

.post i {
  color: white;
  font-size: 25px;
}

.account-img {
  text-align: center;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 1px solid black;
  background-color: none;
}
.profile-img {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.header {
  padding: 10px;
}
.btn-primary {
  width: 40% !important;
  border: none !important;
  background-color: white !important;
  color: black !important;
  font-size: 20px !important;
}
.btn-primary:hover {
  background-color: gray !important;
}

.post-area {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* Distributes items properly */
  align-items: center;
  width: 100%;
  height: auto; /* Allow flexibility */
  padding: 5px;
  gap: 10px;
  border: 1px solid rgba(240, 237, 237, 0.722);
}

.input-group {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.replay {
  cursor: pointer;
  color: rgb(29, 155, 240);
  font-size: 10px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.post-media {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}
.media-icon {
  margin: 5px;
  width: 40%;
  color: rgb(29, 155, 240);
}
.media-icon i {
  margin-left: 10px;
}
.btn-info {
  background-color: gray !important;
  border-radius: 20px !important;
  border: none !important;
  color: white !important;
  font-weight: 300 !important;
}
.content-body {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}
.tweet-1 {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 10px;
  height: fit-content;
  border-top: 1px solid black;
}
.user {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}
.tweet-post {
  display: flex;
  flex-direction: column;
}
.name {
  font-weight: 700;
}
.user-name {
  color: grey;
}
.tweet-post img {
  width: 100%;
  height: 500px;
  border-radius: 10px;
}
